<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/core/bootstrap.min.css') }}"> <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">

    <title>Shedule</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">

    <template id="day-title-template">
        <div class="day-title-container"> 
            <h1 class="day-title"></h1>
            <hr>
        </div>
    </template>

    <template id="lesson-template">
        <button type="button" class="lesson-card" data-checked="true">
            <span class="lesson-btime"></span> - <span class="lesson-etime"></span><br>
            </span> <span class="lesson-name"></span> 
        </button>
    </template>
</head>

<body>
    <div class="container">
        <header> 
            <img id="mephi-logo" src="{{ url_for('static', filename='img/mephi_logo.png') }}">
            
            <div class="hidden-xs">
                <h2 id="title">Добавить расписание моего ПТУ</h2>
            </div>
        </header>

        <section id="section-shedule">
            <div class="visible-lg-block visible-md-block hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-sm-2" data-day="Понедельник"></div>
                    <div class="col-sm-2" data-day="Вторник"></div>
                    <div class="col-sm-2" data-day="Среда"></div>
                    <div class="col-sm-2" data-day="Четверг"></div>
                    <div class="col-sm-2" data-day="Пятница"></div>
                    <div class="col-sm-2" data-day="Суббота"></div>
                </div>
            </div>
            <div class="hidden-lg hidden-md visible-sm-block visible-xs-block">
                <div class="subcontainer-days-xs">
                    <div class="row" data-day="Понедельник"></div>
                    <div class="row" data-day="Вторник"></div>
                    <div class="row" data-day="Среда"></div>
                    <div class="row" data-day="Четверг"></div>
                    <div class="row" data-day="Пятница"></div>
                    <div class="row" data-day="Суббота"></div>
                </div>
            </div>
        </section>

        <button id="button-add" class="btn btn-success" type="button">Add to Google Calendar</button>
    </div>

<!-- Java Script -->
    <script src="{{ url_for('static', filename='js/core/jquery.js') }}"></script> <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/core/bootstrap.min.js') }}"></script> <!--- Bootstrap -->

    <script src="https://apis.google.com/js/client.js"></script> <!-- Google API -->

    <script>
    $('[data-day]').each(function() {
        var tmpl = document.getElementById('day-title-template').content.cloneNode(true);
        tmpl.querySelector('.day-title').innerHTML = $(this).attr('data-day'); 
        $(this).append(tmpl);
    });

    {% for day_name, lessons in shedule.items() %}
        {% for lesson in lessons %}
            var tmpl = document.getElementById('lesson-template').content.cloneNode(true);

            {% for prop_name in ('btime', 'etime', 'name') %} 
                tmpl.querySelector('.lesson-' + '{{ prop_name }}').innerHTML = '{{ lesson[prop_name] }}';
                tmpl.querySelector('.lesson-card').style['top'] = 
            {% endfor %}

            $('[data-day=' + '{{ day_name }}' + ']').append(tmpl);
        {% endfor %}
    {% endfor %}

    function getNextMondayDate() {
      d = new Date();
      var day = d.getDay(),
          diff = d.getDate() - day + (day == 0 ? -6:1); // adjust when day is sunday
      return new Date(d.setDate(diff + 7));
    }
    
    function format_lesson_datetime(day_name, time) {
        var day_offset = ["Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"].indexOf(day_name);
        var next_mon_date = getNextMondayDate()

        return next_mon_date.getFullYear() + '-' + (next_mon_date.getMonth() + 1) + '-' + (next_mon_date.getDate() + day_offset) + 'T' + time + ':00+03:00'
    }

    var lessons_events = []

    {% for day_name, lessons in shedule.items() %}
        {% for lesson in lessons %}
            lessons_events.push({
                'summary': '{{ lesson["name"] }} [{{ lesson["lesson_type"] }}]',
                'location': '{{ lesson["place"] }}',
                'description': 'Turors: {{ lesson["tutors"] }}',
                'end': {
                    'dateTime': format_lesson_datetime('{{ day_name }}', '{{ lesson["etime"] }}')
                }, 
                'start': {
                    'dateTime': format_lesson_datetime('{{ day_name }}', '{{ lesson["btime"] }}')
                },
                'util_info': {
                    'active': true,
                    'day_name': '{{ day_name }}', 
                    'btime': '{{ lesson["btime"] }}',
                    'etime': '{{ lesson["etime"] }}'
                }
            })
        {% endfor %}
    {% endfor %}


    $('.lesson-card').click(function() {
        $(this).attr('data-checked', $(this).attr('data-checked') == 'true' ? 'false' : 'true')

        for (var i in lessons_events) {
            var is_equal_btime = lessons_events[i]['util_info']['btime']    == $(this).find('.lesson-btime').html()
            var is_equal_etime = lessons_events[i]['util_info']['etime']    == $(this).find('.lesson-etime').html()
            var is_equal_day   = lessons_events[i]['util_info']['day_name'] == $(this).parent().attr('data-day')

            if (is_equal_day && is_equal_btime && is_equal_etime)
                lessons_events[i]['util_info']['active'] = !lessons_events[i]['util_info']['active']
        }
    });

    var CLIENT_ID = '832518959652-jh5oi3v9nsu40ad3vptvl48kqj74dg1q.apps.googleusercontent.com';
    var SCOPES = ["https://www.googleapis.com/auth/calendar"];

    function checkAuth() {
        gapi.auth.authorize({
            'client_id': CLIENT_ID,
            'scope': SCOPES.join(' '),
            'immediate': true
        }, handleAuthResult);
    }

    function handleAuthResult(authResult) {
        if (authResult && !authResult.error) {
            gapi.client.load('calendar', 'v3', function(){
                for (var i in lessons_events) {
                    if (!lessons_events[i]['util_info']['active'])
                        continue;

                    delete lessons_events[i]['util_info'];

                    var request = gapi.client.calendar.events.insert({
                        'calendarId': 'primary',
                        'resource': lessons_events[i]
                    });

                    request.execute(function(response) {
                        console.log(response);
                    });
                }
            });
        }
        else {
            console.log('auth error');
            gapi.auth.authorize({
                client_id: CLIENT_ID, 
                scope: SCOPES, 
                immediate: false
            }, handleAuthResult);
        }
    }

    $('#button-add').click(checkAuth);
    </script>

</body>
</html>