@import "lesson-card.styl"
@import "day-title.styl"

html,
body 
    width: 100%
    height: 100%
    background-color: #fafafa
    

.container
    position: relative 

    padding: 0
    
    @media (min-width: 992px)
        height: 100%
    
    background-color: #fff
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4)
    
    header 
        position: relative
        
        width: 100%
        height: 15vh

        background-color: #2D3945
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2)
        
        #mephi-logo
            position: absolute
            top: 35%
            left: 50%
            transform: translateX(-50%) translateY(-50%)
            
            @media (max-width: 767px)
                top: 50%


        #title 
            position: absolute
            bottom: 10%
            width: 100%
            text-align: center
            
            color: #fff    
            
    #section-shedule
        position: relative
        
        padding: 0 5%
        
        width: 100%
        
        @media (min-width: 991px)
            height: 75vh
        
        .day-title 
            font-size: 20px
            
    #button-add 
        @media (min-width: 992px)
            position: absolute
            right: 5%
        
        @media (max-width: 991px)
            position: relative
            
            height: 10vh
            
            @media (max-height: 400px)
                height: 25vh

            width: 100vw
            margin-top: 7%
            
            border-radius: 0
            
            